.about {
    margin-top: 200px;
    margin-bottom: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_content {
    width: 50%;
}
.Head {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about h1 {
    color: pink;
    font-size: 60px;
}

.about p {
    font-size: 30px;
}
.image {
    height: 200px;
    width: 200px;
    object-fit: cover;
}
