.about h1 {
    color: pink
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}