.project {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
    align-items: center;
}

.Project-card {
    display: inline-block;
    border: 40px solid #000;
    border-left: 40px solid #111;
    border-bottom: 40px solid #222;
    border-right: 40px solid #333;
    border-radius: 5px;
    box-shadow: inset 2px 1px 5px #000;
    margin: 15px;
}

.ProjectImg {
    height: 300px;
    width: 290px;
    border: 25px solid #FFF;
    border-top: 25px solid #DDD;
    border-left: 25px solid #EEE;
    border-right: 25px solid #f0f0f0;
    display: block;
    box-shadow: 10px 0 50px #000;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 25%;
}