.project {
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.ProjectImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  hr {
   width: 25%;
  }