.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Card {
    margin: 5px;
    margin-bottom: 18px;
    background-color: rgb(21, 6, 7);
}
.CardButton {
    background-color: rgb(21, 6, 7);
}

.CardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
