.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 25%;
}
.skills {
  margin-top: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Card {
    background-color: rgb(21, 6, 7);
}

.CardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
